<div class="list row">
  <div class="col-md-8">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Search by pet name"
        [(ngModel)]="name"
      />
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary"
          (click)="searchTitle()"
        >
          Search
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <h4>Pets List</h4>
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let pet of pets; let i = index"
        [class.active]="i == currentIndex"
        (click)="setActiveTutorial(pet, i)"
      >
        {{ pet.name }}
      </li>
    </ul>

    <button class="m-3 btn btn-sm btn-danger" (click)="removeAllTutorials()">
      Remove All
    </button>
  </div>
  <div class="col-md-6">
    <app-tutorial-details
      [viewMode]="true"
      [currentPet]="currentPet"
    ></app-tutorial-details>
  </div>
</div>
