<div>
  <div class="submit-form">
    <div *ngIf="!submitted">
      <div class="form-group">
        <label for="name">Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          required
          [(ngModel)]="pet.name"
          name="name"
        />
      </div>

      <div class="form-group">
        <label for="code">Code</label>
        <input
          class="form-control"
          id="code"
          required
          [(ngModel)]="pet.code"
          name="code"
        />
      </div>
      <div class="form-group">
        <label for="type">Type</label>
        <select class="form-control" id="type" required [(ngModel)]="pet.type" name="type">
          <option value="">Select Pet Type</option>
          <option value="cat">Cat</option>
          <option value="dog">Dog</option>
          <option value="hamster">Hamster</option>
          <option value="rabbit">Rabbit</option>
          <option value="parrot">Parrot</option>
        </select>
      </div>
      <div class="form-group">
        <label for="color">Fur Color</label>
        <input
          class="form-control"
          id="color"
          required
          [(ngModel)]="pet.furColor"
          name="color"
        />
      </div>
      <div class="form-group">
        <label for="country">Country</label>
        <input
          class="form-control"
          id="country"
          required
          [(ngModel)]="pet.country"
          name="country"
        />
      </div>
      <button (click)="saveTutorial()" class="btn btn-success">Submit</button>
    </div>

    <div *ngIf="submitted">
      <h4>Pet was submitted successfully!</h4>
      <button class="btn btn-success" (click)="newTutorial()">Add</button>
    </div>
  </div>
</div>
