<div *ngIf="viewMode; else editable">
  <div *ngIf="currentPet.id">
    <h4>Pet</h4>
    <div>
      <label><strong>Name:</strong></label> {{ currentPet.name }}
    </div>
    <div>
      <label><strong>Code:</strong></label>
      {{ currentPet.code }}
    </div>
    <div>
      <label><strong>Country:</strong></label>
      {{ currentPet.type }}
    </div>
    <div>
      <label><strong>Fur Color:</strong></label>
      {{ currentPet.furColor }}
    </div>
    <div>
      <label><strong>Type:</strong></label>
      {{ currentPet.country }}
    </div>

    <a
      class="badge badge-warning"
      routerLink="/pets/{{ currentPet.id }}"
    >
      Edit
    </a>
  </div>

  <div *ngIf="!currentPet">
    <br />
    <p>Please click on a Pet...</p>
  </div>
</div>

<ng-template #editable>
  <div *ngIf="currentPet.id" class="edit-form">
    <h4>Tutorial</h4>
    <form>
      <div class="form-group">
        <label for="name">Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          [(ngModel)]="currentPet.name"
          name="name"
        />
      </div>
      <div class="form-group">
        <label for="code">Code</label>
        <input
          type="text"
          class="form-control"
          id="code"
          [(ngModel)]="currentPet.code"
          name="code"
        />
      </div>
      <div class="form-group">
        <label for="type">Country</label>
        <input
          type="text"
          class="form-control"
          id="type"
          [(ngModel)]="currentPet.type"
          name="type"
        />
      </div>
      <div class="form-group">
        <label for="color">Fur color</label>
        <input
          type="text"
          class="form-control"
          id="color"
          [(ngModel)]="currentPet.furColor"
          name="color"
        />
      </div>
      <div class="form-group">
        <label for="country">Type</label>
        <input
          type="text"
          class="form-control"
          id="country"
          [(ngModel)]="currentPet.country"
          name="country"
        />
      </div>

    </form>

    <button class="badge badge-danger mr-2" (click)="deleteTutorial()">
      Delete
    </button>

    <button
      type="submit"
      class="badge badge-success mb-2"
      (click)="updateTutorial()"
    >
      Update
    </button>
    <p>{{ message }}</p>
  </div>

  <div *ngIf="!currentPet.id">
    <br />
    <p>Cannot access this Pet...</p>
  </div>
</ng-template>
